.section {
  padding: 20px 82px;
  background-color: var(--bg-color);
  font-family: "Press Start 2P", sans-serif;
  @media (max-width: 768px) {
    padding: 20px 20px;
  }
}
.container {
  max-width: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 0 40px;
  font-weight: 800;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  @media (max-width: 1300px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.card {
  background: rgba(255, 255, 255, 0.03);
  border: 1px solid rgba(255, 255, 255, 0.08);
  padding: 40px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.categoryTitle {
  font-size: 1.4rem;
  color: var(--accent-color);
  margin-bottom: 25px;
  font-weight: 700;
  border-left: 4px solid var(--accent-color);
  padding-left: 15px;
  word-spacing: -10px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  @media (max-width: 768px) {
    justify-content: center;
  }
}

.tag {
  background: rgba(255, 255, 255, 0.05);
  color: var(--text-secondary);
  padding: 6px 14px;
  border-radius: 8px;
  font-size: 0.9rem;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  display: inline;
  word-spacing: -5px;

  &:hover {
    color: white;
    background: rgba(var(--accent-color), 0.1);
    border-color: var(--accent-color);
    transform: translateY(-2px);
  }
}
