$text-primary: rgba(237, 237, 237, 1);
$text-secondary: rgba(226, 232, 241, 1);
$accent-color: rgba(59, 130, 246, 1);
$card-bg: rgba(17, 24, 39, 1);
$transition-base: 0.3s ease;

:root {
  --bg-color: rgba(10, 10, 10, 0.8);
  --text-primary: rgba(237, 237, 237, 1);
  --text-secondary: rgba(226, 232, 241, 1);
  --accent-color: rgba(59, 130, 246, 1);
  --card-bg: rgba(17, 24, 39, 1);
  --bg-rgb: 10, 10, 10;
  --card-bg-color: rgba(0, 0, 0, 0.2);
  --accent-color-rgb: rgb(0, 255, 157);
  --accent-color: rgba(var(--accent-color-rgb), 1);
  --accent-color-alt: rgba(255, 0, 255, 1);
  --text-secondary-alt: rgba(160, 160, 192, 1);
}
