.section {
  padding: 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
  min-height: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;

  align-items: stretch;
}
