.section {
  padding: 20px 82px 40px;
  max-width: 100%;
  margin: 0 auto;
  min-height: auto;
  font-family: "Press Start 2P", sans-serif;

  @media (max-width: 768px) {
    padding: 20px 20px 40px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 30px;

  align-items: stretch;
}

.title {
  font-size: 2.5rem;
  color: var(--text-primary);
  margin: 10px 0 20px;
  text-align: center;
}